* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  scroll-behavior: smooth;
  background-color: #e4d6c9;
}
.container {
  padding: 2em;
}
  
.landingpage-body-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.landingpage-body-center h1 {
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 20px;
}

.landingpage-body-center p {
  font-size: 20px;
  width: 560px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 40px;
}
.landingpage-body-center img{
  width: 700px;
}
