body {
  background-color: floralwhite;
}
nav {
    display: flex;
justify-content: flex-end;
column-gap: 10px;
padding-right: 50px;
box-shadow: 0px 1px rgb(163, 163, 163);
/* border-bottom: 5px solid; */

}
.title,
.subtext {
  text-align: center;
}
.main-text {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}
.logo {
  height: 20em;
  width: 20em;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightcoral;
  border-radius: 25px;
  padding: 25px;
}

.name-field,
.email-field {
  display: flex;
  column-gap: 50px;
}
input {
    width: 170px;

}
.message-field {
  display: flex;

  column-gap: 30px;
}
textarea {
  height: 100px;
}
button {
    background-color: floralwhite;

}
