.container {
  padding: 2em;
}

.landingpage-body-center {
  display: flex;
  align-items: center;
  gap: 50px;
}

.about {
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
  color: white;
  text-shadow: #563c15 0px 0 7px;
}

.landingpage-body-center p {
  font-size: 30px;
  width: 560px;
  text-align: center;
  color: #563c15;
  font-weight: 500;
}

.landingpage-body-center img {
  width: 700px;
}

.mission {
  font-size: 40px;
  text-decoration: underline;
  font-weight: 600;
}

@media (max-width: 1400px) and (orientation: portrait) {
  .landingpage-body-center  {
    flex-direction: column;
    justify-content: middle;
  }
}
