@media (max-width: 1400px) and (orientation: portrait) {
  .patient-testimonials {
    display: none;
  }

  .footer {
    display: none;
  }

  .landingpage-body-center  {
    flex-direction: column;
    justify-content: middle;
  }
}