* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Epilogue", sans-serif;
}

body {
  background-color: #e4d6c9;

}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Right side of navbar */
.navbar-brand img {
  width: 75px;
  padding-left: 20px;
  padding-top: 20px;
}

/* Left side of navbar */
.hamburger-btn {
  border: none;
  color: #563c15;
  cursor: pointer;
  font-size: 30px;
  background-color: transparent;
  display: none;
  position: absolute;
  right: 25px;
  top: 30px;
}

.nav-menu{
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 20px;
  padding-top: 20px;
}

.nav-item {
  padding: 0 25px;
}

.nav-item:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.nav-link {
  color: #563c15;
  font-weight: 600;
  transition: 200ms ease-in-out;
  font-size: 22px;
}

.nav-link:hover {
  color: #8f6b36;

}

/* Login button styling */
.nav-login {
  background-color: #FFFFFF;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 35px;
  text-transform: uppercase;
}

.nav-login:hover {
  background-color: #73ade2;
  color: #FFFFFF;
}


/*** MEDIA QUERIES ***/
@media (min-width: 300px) and (max-width: 900px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-menu {
    /* display: none; */
    flex-direction: column;
    justify-content: center;
    background-color: #e4d6c9;
    /* background-color: white; */
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .nav-item {
    padding: 20px 0;
  }


  .hamburger-btn {
    display: block;

  }
}