* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Epilogue", sans-serif;
}

body {
  background-color: #e4d6c9;

}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


.main-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px 0 20px;
}

/* Right side of navbar */
.navbar-brand img {
  width: 65px;
}

/* Left side of navbar */
.navbar-left {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  padding: 0 25px;
}

.nav-link {
  color: #563c15;
  font-weight: 600;
  transition: 200ms ease-in-out;
  font-size: 20px;
}

.nav-link:hover {
  color: #8f6b36;
}

/* Login button styling */
.nav-login {
  background-color: #FFFFFF;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 35px;
  text-transform: uppercase;
}

.nav-login:hover {
  background-color: #73ade2;
  color: #FFFFFF;
}

/* Hamburger menu styling */
@media screen and (max-width: 768px) {
  #navbar {
    display: none;
  }

  #hamburger-btn {
    background-color: transparent;
    background-image: url("/Users/aakin19/Desktop/BIPOC-Wellness-Directory-2/bipoc-wellness-directory/public/assets/bars-solid.svg");
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 2rem;
    width: 1.5rem;
    /* left: 1rem; */
  }

  #hamburger[aria-expanded="true"] {
    background-image: url("/Users/aakin19/Desktop/BIPOC-Wellness-Directory-2/bipoc-wellness-directory/public/assets/times-solid.svg");
  }
}