.container {
    padding: 2em;
}
.body {
    padding: 0px 120px;
}

.main-section {
    display: flex;
    justify-content: space-evenly;
}

.homepage-body-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.homepage-body h1 {
    font-size: 60px;
    color: white;
    text-shadow: #563c15 0px 0 7px;
    padding-bottom: 30px;
}

.homepage-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.homepage-body-left h1 {
    font-size: 25px;
    font-weight: bold;
    width: 550px;
    text-align: center;
}

.homepage-body-left p {
    width: 560px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.homepage-body-left button {
    border: none;
    background-color: lightcoral;
    color: white;
    font-weight: bold;
    width: 200px;
    padding: 1em;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
}

.signup {
    text-align: center;
}
.homepage-body-left img {
    width: 500px;
}

.patient-testimonials img {
    width: 175px;
}

.patient p {
    padding-left: 20px;
    padding-right: 20px;
    width: 450px;
    font-weight: 500;
}

.patient {
    display: flex;
    align-items: center;
    margin-bottom: 85px;
}

.woman {
    position: relative;
    left: 120px;
}

.patient-testimonials {
    float: right;
}

@media (max-width: 1400px) and (orientation: portrait) {
    .main-section {
        flex-direction: column;
    }
    .patient-testimonials {
        margin-top: 40px;
    }
    .homepage-body h1 {
        padding: 0;
    }
}
